@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

header {
  background-color: #eff3f7;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  z-index: 50;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  display: flex;
  column-gap: 20px;
  font-family: "Poppins", sans-serif;
}
.nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.nav ul li a:hover {
  opacity: 80%;
  transition: 0.3s;
}

.content {
  background-color: #e5ebf0;
  flex: 1;
}

.paper {
  background-color: white;
  color: #212529;
  margin-block: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-inline: 80px;
  padding-block: 50px;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.opening {
  font-weight: bold;
}

.title {
  font-weight: 500;
  line-height: 1.2;
  font-size: 29px;
  font-family: inherit;
}

.time {
  background-color: #333333;
  padding-block: 10px;
  margin-left: auto;
}

#current-time {
  font-family: "Open Sans", sans-serif;
  color: white;
  width: fit-content;
  margin-left: auto;
  font-size: small;
  font-weight: 500;
}
